{% extends "base.html" %}
{% block title %}
    {% if add_barang %}
        Add Data Barang
    {% else %}
        Edit Data Barang
    {% endif %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            {% if add_barang %}
                <div class="card-header">Tambah Data Barang</div>
            {% else %}
                <div class="card-header">Ubah Data Barang</div>
            {% endif %}
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{form.nama_barang.label}}
                    {{form.nama_barang(class_='form-control')}}
                </div>
                <div class="form-group">
                        {{form.stock_barang.label}}
                        {{form.stock_barang(class_='form-control')}}
                </div>
                <div class="form-group">
                        {{form.harga_barang.label}}
                        {{form.harga_barang(class_='form-control')}}
                </div>
                {{form.submit(class_='btn btn-primary btn-block')}}
            </form>
        </div>
    </div>
</div>
{% endblock %}