{% extends "base.html" %}
{% block title %} Barang {% endblock %}
{% block body %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Barang
    </div>
    <div class="card-body">
        <div class="table-responsive">
           <a href="{{url_for('admin.add_barang')}}" class="btn btn-primary" style="margin-bottom: 10px;">Tambah Data</a>
           <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID Barang</th>
                        <th>Nama Barang</th>
                        <th>Stock Barang</th>
                        <th>Harga Barang</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for barang in barang  %}
                        <tr>
                            <td>{{barang.id}}</td>
                            <td>{{barang.nama_barang}} </td>
                            <td>{{barang.stock_barang}} </td>
                            <td>{{barang.harga_barang}} </td>
                            <td>
                                <a href="{{ url_for('admin.edit_barang', id=barang.id) }}" class=" btn btn-primary btn-sm btn-block" >Ubah</a>
                                <a href="{{ url_for('admin.delete_barang', id=barang.id) }}" class="btn btn-danger btn-sm btn-block" >Hapus</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}